[submodule "linux"]
	path = linux
	url = https://github.com/TURBOyan/lichee_linux.git
	branch = zero-5.2.y
[submodule "Lichee-Pi_u-boot"]
	path = Lichee-Pi_u-boot
	url = https://gitea.turboyan.com/turboyan/Lichee-Pi_u-boot.git
	branch = v3s-spi-experimental
[submodule "sunxi-tools"]
	path = toolchain/sunxi-tools
	url = https://gitea.turboyan.com/turboyan/sunxi-tools.git
[submodule "libs_src/evtest"]
	path = libs_src/evtest
	url = https://gitlab.freedesktop.org/libevdev/evtest.git
[submodule "libs_src/lirc"]
	path = libs_src/lirc
	url = git://git.code.sf.net/p/lirc/git
