[submodule "linux"]
	path = linux
	url = https://github.com/Lichee-Pi/linux.git
	branch = zero-4.10.y
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = https://github.com/Icenowy/sunxi-tools.git
[submodule "Lichee-Pi_u-boot"]
	path = Lichee-Pi_u-boot
	url = https://gitee.com/TURBOyan/Lichee-Pi_u-boot.git
	branch = v3s-spi-experimental
